.tituloD{
  --background:transparent;
  color:black
}
.transparent-items ion-item {
  --background: transparent; /* Establece el fondo como transparente */
}
.transparent-items ion-label{
  color:black;
}
  /* Estilo para el esqueleto de carga */
  .box-skeleton {
    height: 500px;
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    margin: 10px 0;
  }
  ion-label {
    text-align: left; /* Alinea el texto al lado izquierdo */
    width: 100%;
    color: #ffffff; /* Cambia el color del texto del label */
    font-weight: bold; /* Puedes ajustar la negrita según tus preferencias */
    margin-top: 1px;
  }
  ion-item {
    margin: 10px 0;
    --background: #555843;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #2e2e2e;
    width: calc(100% - 20px);
}
.color{
  --background: #7b8062;
}



