.skeleton{
    height: 500px;
}
.fondomenu{
    background-image: url('../../../assets/icon/fondoapp2.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center center; /* Centra la imagen horizontal y verticalmente */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    height: 100%; /* Asegura que la imagen cubra toda la altura de la página */
  }
