ion-content {
    background: transparent; /* Asegura que el fondo del contenido sea transparente */
  }
  
  .fondomenu {
    background-image: url(https://i.pinimg.com/736x/41/ce/ed/41ceed6b443531d18fb3d8793b660e3c.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; /* Asegura que la imagen cubra toda la altura de la pantalla */
    color: white; /* Cambia el color del texto a blanco para mejorar la legibilidad */
  }
  
  /* Estilo para los elementos de formulario */
  ion-item {
    --color: white; /* Cambia el color del texto en los ion-item a blanco */
  }
  
  ion-input {
    --color: white; /* Cambia el color del texto en los ion-input a blanco */
  }
  
  /* Estilo para el botón */
  ion-button.btn {
    --background: #0e8888; /* Cambia el color de fondo del botón */
    --color: white; /* Cambia el color del texto en el botón a blanco */
    margin: 20px auto; /* Añade margen al botón para centrarlo */
  }
  
  /* Estilo para el esqueleto de carga */
  .box-skeleton {
    height: 500px;
    background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
    margin: 10px 0;
  }
  