<!--cabecera-->
<ion-header>
  <ion-toolbar class="toolbarcolor">
    <ion-title>registro</ion-title>
      <ion-buttons slot="start" (click)="goBack()">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--cabecera termino-->
<!--contenido-->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--contenido-->
  <ng-container *ngIf="!loading">
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nacionalidad</ion-label>
    <ion-input type="text" [(ngModel)]="nacionalidad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSeleccionado">
        <ion-select-option [value]="i.id" *ngFor="let i of regiones">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Seleccione comuna" [(ngModel)]="comunaSeleccionada">
        <ion-select-option [value]="i.id" *ngFor="let i of comunas">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button  (click)="registro()"  shape="round">Registrar</ion-button>
</ng-container>
<!--contenido-->
<!--skeleto-->
<ng-container *ngIf="loading">
<div class="box-skeleton" *ngFor="let skeleton of [1]">
  <ion-skeleton-text
    class="skeleton"
    [animated]="true"
    style="width: 100%"
  ></ion-skeleton-text>
</div>
</ng-container>
<!--skeleto termino-->
</ion-content>
<!--contenedor termino-->