<ion-header>
  <ion-toolbar class="toolbarcolor">
    <ion-title class="text-center">Registro </ion-title>
      <ion-buttons slot="start" (click)="goBack()">
        <ion-icon name="chevron-back-circle-outline"class="icon"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--cabecera termino-->
<!--contenido-->
<ion-content [fullscreen]="true" class="colorFondo">
  <!--cabecera-->
  <div class="container" *ngIf="!loading">
  <ng-container>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nacionalidad</ion-label>
    <ion-input type="text" [(ngModel)]="nacionalidad"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena"></ion-input>
  </ion-item>
  <!--ion selects-->

    <ion-item >
      <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSeleccionado">
        <ion-select-option [value]="i.id" *ngFor="let i of regiones">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-select placeholder="Seleccione comuna" [(ngModel)]="comunaSeleccionada">
        <ion-select-option [value]="i.id" *ngFor="let i of comunas">{{i.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>

  <!--ion selects-termino-->
  <ion-button class="color" (click)="registro()"  shape="round">Registrar</ion-button>
</ng-container>
</div>
<!--contenido-->
<!--skeleto-->
<ng-container *ngIf="loading">
<div class="box-skeleton" *ngFor="let skeleton of [1]">
  <ion-skeleton-text class="skeleton" [animated]="true" style="width: 100%"></ion-skeleton-text>

</div>
</ng-container>
<!--skeleto termino-->
</ion-content>
<!--contenedor termino-->
