ion-button.mostrarD{
  margin-top: 30%;
    --background: rgb(235, 226, 207);
    color: black; /* Cambia 'black' al color que desees para el texto */


}
.text-center{
  text-align: center;
  }
  .masToolbar{
    --background:#444636;
  }
.sumergemeeee{
  --background: linear-gradient(#555843, rgb(6, 7, 3)) ;
}
