ion-content.fondomenu {
  --background: url('https://i.pinimg.com/736x/41/ce/ed/41ceed6b443531d18fb3d8793b660e3c.jpg') no-repeat center center fixed;
  background-size: cover;
}
.botonAtras{
  --color: rgb(2, 1, 1);
}
ion-header {
  background-color: transparent; /* Hace que el encabezado sea transparente */
  ion-toolbar {
    --background: rgb(28, 87, 76); /* Fondo transparente para el toolbar */
    color: white; /* Color del texto del encabezado */
  }
}

ion-title {
  font-size: 1.5rem;
}

ion-content {
  background-color: transparent; /* Hace que el contenido sea transparente */
  .ion-padding {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para hacer el contenido más legible */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Centra el contenido */
  }

  .mostrarD {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    --background: cornflowerblue; /* Cambia el color de fondo del botón */
    --color: white; /* Cambia el color del texto del botón */
    --border-radius: 10px; /* Agrega bordes redondeados al botón */
  }
  
  

  ion-button:hover {
    --background: #3697d4; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  }
}

ion-modal {
  background-color: transparent; /* Hace que el modal sea transparente */
  ion-header {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente para hacer el título del modal más legible */
    ion-toolbar {
      background-color: transparent; /* Hace que la barra de herramientas del modal sea transparente */
    }
  }

  ion-content {
    background-color: transparent; /* Hace que el contenido del modal sea transparente */
    .ion-padding {
      background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para hacer el contenido del modal más legible */
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
}

.perfil-card {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para hacer las tarjetas del perfil más legibles */
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  ion-item {
    cursor: pointer;
  }
}
