.fondomenu {
    background-image: url(https://i.pinimg.com/736x/41/ce/ed/41ceed6b443531d18fb3d8793b660e3c.jpg);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    padding: 20px;
    height: 100vh;
  }
  
  .perfil-card {
    width: 80%; /* Ancho del card */
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del card */
  }
  
  ion-avatar img {
    width: 50px; /* Tamaño de la imagen del avatar */
    height: 50px;
    border-radius: 50%; /* Hace que la imagen del avatar sea circular */
  }
  
  ion-label {
    font-weight: bold; /* Texto en negrita */
  }
  
  small {
    color: #777; /* Color del texto pequeño */
  }
  
  ion-item {
    padding: 10px;
  }
  