<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondomenu">
  <ion-list>
    <ion-item>
      <ion-label>Nombre de Usuario</ion-label>
      <ion-note>{{ usuario?.nombre }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Correo Electrónico</ion-label>
      <ion-note>{{ usuario?.correo }}</ion-note>
    </ion-item>


