<!--Cabecera-->
<ion-header [translucent]="true">
  <ion-toolbar class="toolbarcolor">
    <ion-button (click)="logOut()" slot="end">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="toggle()" slot="start">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-button>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>
<!--Cabecera termino-->
<!--Menu Perfil-->
  <ion-menu contentId="main-content" class="colorFondo">
    <ion-header>
      <ion-toolbar class="toolbarcolor">
        <ion-icon class="aloha" name="close-circle-outline" slot="end" (click)="cerrarMenu()"></ion-icon>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" scrollY="false">
        <ion-list>
          <ion-item (click)="perfil()" >
            <ion-icon style="padding-right: 10px; color: rgb(14, 136, 136);" name="person-circle-outline"></ion-icon>
            <h3>Perfíl</h3>
          </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>
<!--Menu Perfil termino-->
<!--Toolbar perfil menu-->
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
</div>
<!--Tollbar menu termino-->
<!--Botones menu-->
<ion-content [fullscreen]="true" class="colorFondo" >
<ng-container *ngIf="!loading">
  <div class="card-container">
  <ng-container *ngFor="let m of menuArray" >
      <ion-card [routerLink]="m.url" *ngIf="m.disabled" >
        <div class="box">
          <ion-icon id="a" [name]="m.icono" style="font-size: 36px" class="colorcard"></ion-icon>
          <h3 id="a" class="colorcard">{{m.titulo}}</h3>
        </div>
      </ion-card>

      <ion-card [routerLink]="m.url" *ngIf="!m.disabled"  >
        <div class="box">
          <ion-icon id="a" [name]="m.icono" style="font-size: 36px" class="colorcard"></ion-icon>
          <h3 id="a" class="colorcard">{{m.titulo}}</h3>
        </div>
      </ion-card>
  </ng-container>
  </div>
</ng-container>
  <ng-container *ngIf="loading">
  <div class="box-skeleton" *ngFor="let skeleton of [1,2]">
    <ion-skeleton-text
      class="skeleton"
      [animated]="true"
      style="width: 100%"
    ></ion-skeleton-text>
  </div>
  </ng-container>
</ion-content>
<!--Botones menu termino-->