.enabled{
    background-color:cornflowerblue;
    color: black;
    opacity: 0.5;
}
.disabled{
    background-color: brown;
    color: black;
    opacity: 0.5;
}
.skeleton{
    height: 55px;
}
.box-skeleton{
    padding-right:10px ;
    padding-left:10px ;
}
#a{
  text-align: center;
  vertical-align: super;
  align-items: center;
}
