<!--cabecera-->
<ion-header>
  <ion-toolbar class="toolbarcolor">
    <ion-title class="text-center">Recuperar contraseña</ion-title>
      <ion-buttons slot="start" (click)="goBack()">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--cabecera termino-->
<!--contenido-->
  <ng-container *ngIf="!loading">

    <div class="h3titulo">
        <h3>Ingresa tu correo para cambiar tu contraseña</h3>
    </div>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="correo"></ion-input>
    </ion-item>



    <ion-content>
      <div class="ion-text-center">
        <ion-button class="btn" (click)="conf()"shape="round">enviar</ion-button>
      </div>
    </ion-content>
  </ng-container>

<!--skeleto-->
  <ng-container *ngIf="loading">
    <div class="box-skeleton" *ngFor="let skeleton of [1]">
      <ion-skeleton-text
        class="skeleton"
        [animated]="true"
        style="width: 100%"
      ></ion-skeleton-text>
    </div>
    </ng-container>


<!--contenido t-->
