

ion-card {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para hacer el contenido más legible */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  ion-card-content {
    border-bottom: 1px solid black; /* Agrega una línea negra en la parte inferior de ion-card-content */
    margin-bottom: 10px; /* Puedes ajustar el valor según tus preferencias para dar espacio entre la línea y el contenido */
  }
}

.login-label {
  font-size: 1.5rem;
  text-align: center;
  color: #404040;
}

ion-item {
  margin: 10px 0;
  --background: #555843;
  border-radius: 10px;
}

ion-button {
  margin-top: 10px;
  --background: cornflowerblue; /* Cambia el color de fondo del botón */
  --color: white; /* Cambia el color del texto del botón */
  --border-radius: 10px; /* Agrega bordes redondeados al botón */
  font-weight: bold;
}

ion-button:hover {
  --background: #3697d4; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}

.btn{
  --background:#555843 ;
}
