<ion-header>
  <ion-toolbar>
    <ion-title>Uber Fruna</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="fondomenu">
  <ion-card>
    <ion-card-content>
      <ion-label class="login-label">Iniciar sesión</ion-label>
      <ion-item>
        <ion-label position="floating">Email:</ion-label>
        <ion-input [(ngModel)]="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input [(ngModel)]="contrasena" type="password"></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-button (click)="login()" expand="full" shape="round">Acceder</ion-button>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-button [routerLink]="['/registro']" expand="full" shape="round">Registrarse</ion-button>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-button [routerLink]="['/resetpass']" expand="full" shape="round">Recuperar contraseña</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
