ion-content.fondomenu {
  --background: url('https://i.pinimg.com/736x/41/ce/ed/41ceed6b443531d18fb3d8793b660e3c.jpg') no-repeat center center fixed;
  background-size: cover;
}

ion-card {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para hacer el contenido más legible */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-label {
  font-size: 1.5rem;
  text-align: center;
  color: #3697d4;
}

ion-item {
  margin: 10px 0;
}

ion-button {
  margin-top: 10px;
  --background: cornflowerblue; /* Cambia el color de fondo del botón */
  --color: white; /* Cambia el color del texto del botón */
  --border-radius: 10px; /* Agrega bordes redondeados al botón */
  font-weight: bold;
}

ion-button:hover {
  --background: #3697d4; /* Cambia el color de fondo al pasar el mouse sobre el botón */
}
