<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="medium">Solicitar Auto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Autos Disponibles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item *ngFor="let i of autos">
      <ion-card-content (click)="alerta()">
        {{'Conductor:'+' '+ i.conductor }} <br />
        {{'Costo:'+' '+ i.costo }} <br />
        {{'Marca:'+' '+ i.marca }} <br />
        {{'Patente: '+' '+ i.patente }}
      </ion-card-content>
      <hr>
    </ion-item>
  </ion-content>

  <ng-container *ngIf="loading">
    <div class="box-skeleton" *ngFor="let skeleton of [1]">
      <ion-skeleton-text
        class="skeleton"
        [animated]="true"
        style="width: 100%"
      ></ion-skeleton-text>
    </div>
  </ng-container>
</ion-content>
