<!--cabecera-->
<ion-header [translucent]="true">
  <ion-toolbar class="tituloF">
    <ion-title style="color: red;">Solicitar Auto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button id="back">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--cabecera termino-->
<!--contenido-->
<ion-content [fullscreen]="true" class="colorFondo">
  <!--cabecera cont-->
  <ion-header collapse="condense">
    <ion-toolbar class="toolbarcolor">
      <ion-title size="medium" class="iconbackcolor">Autos Disponibles</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--termino cont-->
  <ion-content class="colorFondo">
    <ion-item *ngFor="let i of autos">
      <ion-card-content (click)="alerta()">
        {{'Conductor:'+' '+ i.conductor }} <br />
        {{'Costo:'+' '+ i.costo }} <br />
        {{'Marca:'+' '+ i.marca }} <br />
        {{'Patente: '+' '+ i.patente }}
      </ion-card-content>
      <hr>
    </ion-item>
  </ion-content>

  <ng-container *ngIf="loading">
    <div class="box-skeleton" *ngFor="let skeleton of [1]">
      <ion-skeleton-text
        class="skeleton"
        [animated]="true"
        style="width: 100%"
      ></ion-skeleton-text>
    </div>
  </ng-container>
</ion-content>
<!--termino contenido-->