<ion-header [translucent]="true">
  <ion-toolbar class="toolbarcolor">
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="chevron-back-circle-outline"class="icon"></ion-icon>
    </ion-buttons>
    <ion-title>
      Uber Fruna
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="colorFondo">
<h3>Descarga nuestra app!</h3>


  <ion-button href="https://drive.google.com/drive/u/0/folders/1hQxGeYS4qbex56FW9z4az2TY6UjvDFjv" expand="full" class="btnM">Descarga</ion-button>
  <!--h3>Si ya posees nuestra app, ve al login!!</!--h3>
  <ion-button--  [routerLink]="['/login']" expand="full" class="btnM">Ir al login</ion-button-->


</ion-content>
